<h1 mat-dialog-title>
  {{ 'dialog.add.title' | translate }}
  (
    <a class="btn" (click)="uploadButton.click()">
      {{'dialog.add.upload_file' | translate}}
    </a>
  )
  <input
    #uploadButton
    id="uploadButton"
    type="file"
    ng2FileSelect
    [uploader]="uploader"
    (onFileSelected)="uploader.uploadAll()"
    multiple
  />
</h1>
<div mat-dialog-content>
  <div>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        [ngStyle]="{ width: uploader.progress + '%' }"
      ></div>
    </div>
    <mat-progress-bar
      mode="determinate"
      value="{{ uploader.progress }}"
    ></mat-progress-bar>
  </div>
  <div class="row">
    <div class="col-md-9" style="margin-bottom: 40px">
      <table>
        <thead>
          <tr>
            <th class='name'>Nome</th>
            <th>Tamanho</th>
            <th>Progresso</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td>
              <strong>{{ item?.file?.name }}</strong>
            </td>
            <td *ngIf="uploader.options.isHTML5">
              {{ item?.file?.size / 1024 / 1024 | number: '.2' }} MB
            </td>
            <td *ngIf="uploader.options.isHTML5">
              <div class="progress" style="margin-bottom: 0;">
                <mat-progress-bar
                  mode="determinate"
                  value="{{ item.progress }}"
                ></mat-progress-bar>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess">
                <em class="fa-check fa"></em>
              </span>
              <span *ngIf="item.isCancel">
                <em class="fa-ban fa"></em>
              </span>
              <span *ngIf="item.isError">
                <em class="fa-times fa"></em>
              </span>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-success btn-xs"
                (click)="item.upload()"
                [disabled]="item.isReady || item.isUploading || item.isSuccess"
              >
                <em class="fa-upload fa"></em>
              </button>
              <button
                type="button"
                class="btn btn-warning btn-xs"
                (click)="item.cancel()"
                [disabled]="!item.isUploading"
              >
                <em class="fa-ban fa"></em>
              </button>
              <button
                type="button"
                class="btn btn-danger btn-xs"
                (click)="item.remove()"
              >
                <em class="fa-trash fa"></em>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close(content)">
    {{ 'button.confirm' | translate }}
  </button>
  <button mat-button (click)="dialogRef.close()" cdkFocusInitial>
    {{ 'button.cancel' | translate }}
  </button>
</div>
