<div class="display-area">
  <mat-toolbar color="primary">
    <button mat-button [disabled]="!isContentSelected()" (click)="send()">
      {{ 'button.use' | translate }}
    </button>
    <button mat-button [disabled]="!isContentSelected()" (click)="openRename()">
      {{ 'button.rename' | translate }}
    </button>
    <button mat-button [disabled]="!isContentSelected()" (click)="openDelete()">
      {{ 'button.delete' | translate }}
    </button>
    <button mat-button (click)="openAdd()">
      {{ 'button.add' | translate }}
    </button>
  </mat-toolbar>
  <mat-card class="files-group">
    <mat-radio-group [(ngModel)]="selectedContent">
      <mat-radio-button
        *ngFor="let content of contents"
        [value]="content"
        (dblclick)="openContent(content)"
        (change)="selectContent(content)"
      >
        <mat-card *ngIf="!content.publicFilename" class="file-item">
          <em
            class="file-icon fa fa-5x "
            [ngClass]="content.icon"
            aria-hidden="true "
          >
          </em>
          <mat-card-title>
            <span class="mat-title">
              <em>{{ content.name }}</em>
            </span>
          </mat-card-title>
        </mat-card>
        <mat-card *ngIf="content.publicFilename" class="file-item">
          <img
            mat-card-image
            src="{{ content.publicFilename }}"
            alt="{{ content.name }}"
          />
          <mat-card-content>
            <p>{{ content.name }}</p>
          </mat-card-content>
        </mat-card>
      </mat-radio-button>
    </mat-radio-group>
  </mat-card>
</div>
