// Hide radio element
:host /deep/ .mat-radio-inner-circle,
.mat-radio-outer-circle,
:host /deep/ .mat-radio-ripple,
.mat-ripple,
:host /deep/ .mat-radio-outer-circle,
:host /deep/ .mat-radio-checked .mat-radio-outer-circle,
:host /deep/ .mat-radio-container {
  display: none;
}

:host /deep/ .mat-radio-checked mat-card {
  background-color: rgba(0, 0, 0, 0.2);
}

.display-area {
  mat-card {
    &.files-group {
      min-height: 400px;
    }
    &.file-item {
      text-align: center;
      width: 80px;
      .file-icon {
        margin-bottom: 10px;
      }
    }
    mat-card-title {
      overflow: hidden;
      // font-size: 12px;
    }
    mat-card-content{
      overflow: hidden;
    }
  }
}

.my-drop-zone {
  border: dotted 3px lightgray;
  height: 100px;
}
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }
