<h1 mat-dialog-title>{{ 'dialog.delete.title' | translate }}</h1>
<div mat-dialog-content>
  <p>{{content.name}}</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close(content)">{{ 'button.confirm' | translate }}</button>
    <button mat-button (click)="dialogRef.close()" cdkFocusInitial>{{ 'button.cancel' | translate }}</button>
</div>
