
@import "~@angular/material/_theming.scss";

// @include mat-core();
// $primary: md-palette($md-orange, 800);
// $accent:  md-palette($md-light-blue, 600, A100, A400);
// $warn:    md-palette($md-red, 600);
// $theme: md-light-theme($primary, $accent, $warn);
// @include angular-material-theme($theme);



// @import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$custom-primary: mat-palette($mat-amber);
$custom-accent:  mat-palette($mat-yellow, A200, A100, A400);

// The warn palette is optional (defaults to red).
$custom-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($custom-theme);
