<h1 mat-dialog-title>{{ 'dialog.rename.title' | translate }}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="content.name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close(content)">{{ 'button.confirm' | translate }}</button>
    <button mat-button (click)="dialogRef.close()" cdkFocusInitial>{{ 'button.cancel' | translate }}</button>
</div>
